<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="font-weight:bold;">
    Welcome !
  </h1>
  <img style="border-radius:50%;" width="300" alt="Logo" src="https://s3-us-east-2.amazonaws.com/designevo/projects/uid-955165/4439b891b06dcb3152856998030c4b3f/preview.png?t=1566568055323">
</div>
<br>
<p style="margin-left:5%;font-weight:bold;font-size:20px;"><em>"I learned that courage was not the absence of fear, but the triumph over it. The brave man is not he who does not feel afraid, but he who conquers that fear."-- Nelson Mandela</em></p>
  <br>
<h1 style="font-size:20px;text-align:center;font-weight:bold;">Sharing is caring!Speak out!!! </h1>
<hr>
<!-- <ul>
  <li>
   </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> --> 
<app-quotes></app-quotes>
<!-- <app-quotes-form></app-quotes-form> -->
<router-outlet></router-outlet>
