<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome !
  </h1>
  <img id="one" width="300" alt="Logo" src="https://s3-us-east-2.amazonaws.com/designevo/projects/uid-955165/4439b891b06dcb3152856998030c4b3f/preview.png?t=1566568055323">
</div>
<p style="margin-left:5%;font-weight:bold;font-size:20px;"><em>"I learned that courage was not the absence of fear, but the triumph over it. The brave man is not he who does not feel afraid, but he who conquers that fear." -- Nelson Mandela</em></p>
  <br>
  <br>
<h1 style="font-size:25px;text-align:center;">Do you want your share thoughts and feelings?Don't hesitate,Fill in this form!!Only positivity!</h1>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
