.ella{
  background-image: url("./164916902-water-droplets-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:100%;
  
}
.foot{
  font-weight:bold;
  background-color:rgb(4, 4, 17);
  color: white;
}