<!-- <app-quotes-form></app-quotes-form> -->

    <div>
        <h1 style="margin-left:40%;">Quotes</h1>
        <br>
        <ul>
          <li *ngFor='let cars of cars;let i = index'>
            {{cars.name}} 
            <br>
            {{cars.quote}}
            <br>
            {{cars.author}}
            <br>
            {{cars.newDate|date}}
            <app-likes></app-likes>
            
          </li>
          <!-- <app-details *ngIf='cars.showDate' [cars]='cars' (isComplete) = 'deleteQuote($event,i)'></app-details>  -->
        </ul>
       
    </div>
    <hr>
    <div class="col-md-6">
     <app-quotes-form (addEmma)="addNewEmma($event)"></app-quotes-form>
     
     
    </div>