<!-- <app-quotes-form></app-quotes-form> -->

    <div>
        <h1 style="margin-left:40%;font-weight:bold;font-size:30px;">Quotes</h1>
        <br>
        <ul>
          <li *ngFor='let cars of cars;let i = index'>
            {{cars.name}} 
            <br>
            {{cars.quote}}
            <br>
            {{cars.author}}
            <br>
            {{cars.publi|date}}
            <app-likes></app-likes>
            <app-details *ngIf='cars.showDate' [cars]='cars' (isComplete) = 'deleteQuote($event,i)'></app-details>
            <br>
            <br>
            <button (click)= 'deleteQuote(true,1)'>Delete Quote</button> 
          </li>
          
        </ul>

    </div>
    <hr>
    <div class="col-md-6">
     <app-quotes-form (addEmma)="addNewEmma($event)"></app-quotes-form>
     
     
    </div>