@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}
@import "~bootstrap/dist/css/bootstrap.css"
/* body{
  margin:0;
  padding:0;
  border:0;
}
#one{
  border-radius:50%;

} */
