<p>{{coco.newDate}}</p>
<!-- <p>This quote was published in the last {{emma.newDate|countDate}} days</p>
<button (click)= 'emmaDelete(true)'>Delete Quote</button> -->

<!-- <p>{{coco.newDate|countDays}}</p> -->
<!-- <p></p> -->
<!-- <p>This quote was published in the last {{coco.newDate|countdays}} days</p> -->


<!-- <p>{{like}}</p>
<p>{{dislike}}</p> -->

 <!-- <button (click)='upvote()'>Like</button>
<button (click)='downvote()'>Dislike</button> -->
<!-- <button (click)='delete()'>Deletequote</button> -->


